* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: $color-layout;
  scroll-behavior: smooth;
}

body {
  @extend %font-prim;
  @include font($size: 1.8rem, $height: 3.6rem);
  color: $color-light;
}

h1 {
  @extend %font-top;
  @include font($weight: bold, $size: 6.0rem, $height: 12.0rem);
}

h2 {
  @extend %font-top;
  @include font($weight: bold, $size: 4.0rem, $height: 8.0rem);
  color: $color-primary;
}

h3 {
  @extend %font-top;
  @include font($weight: bold, $size: 2.8rem, $height: 5.6rem);
}

h4 {
  @include font($weight: bold, $size: 2.0rem, $height: 4.0rem);
}