%font-prim {
  font-family: 'Inter', sans-serif;
}

%font-top {
  font-family: 'Merriweather', serif;
}

%padding-title {
  text-align: center;
  padding: 100px 0 60px 0;
}

%border-size {
  cursor: pointer;
  width: 220px;
  height: 55px;
}

%transition {
  transition: all .3s ease-out;
}

%horizont-line {
  display: flex;

  &:before {
    display: inline-block;
    margin-right: 20px;
    margin-top: 39px;
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 0;
    background: $color-primary;
  }

  &:after {
    display: inline-block;
    margin-left: 20px;
    margin-top: 39px;
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 0;
    background: $color-primary;
  }
}