%font-prim {
  font-family: 'Inter', sans-serif;
}

%font-top {
  font-family: 'Merriweather', serif;
}

%padding-title {
  text-align: center;
  padding: 100px 0 60px 0;
}

%transition {
  transition: all .3s ease-out;
}