.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__git {
  > span {
    margin-right: 20px;
  }
}

.footer__icos {
  > * {
    margin-left: 20px;
  }
}