.hero__container {
  padding: 160px 860px 330px 80px;
  background-image: url("../../assets/img/bg.png");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__text {
  @include font($size: 2.0rem, $height: 4.0rem);
  padding-right: 30px;
}

.hero__button {
  margin-top: 25px;
}