.switch-lang {
@include font($weight: bold, $size: 2.0rem, $height: 5.0rem)
}

.switch-lang__item {
  @include hover-link;
  cursor: pointer;
  padding: 0 9px;

  @include media-tablet {
    padding: 0 20px 0 14px;
  }
}